
:root {
	--red: #b51429;
	--blue: #36368f;
	--yellow: #ffe900;

	--black: #000;
	--white: #fff;

	--grey90: #181818;

	--highlight: var(--yellow);
}

.red {
	background: var(--red);
}

.blue {
	background: var(--blue);
}

.yel, .yellow {
	color: var(--yellow);
}

.black {
	background: var(--black);
	color: var(--white);
}

.white {
	background: var(--white);
	color: var(--black);
}

