
:root {
	--red: #b51429;
	--blue: #36368f;
	--blue: #2f00b3;
	--yellow: #ffe900;

	--black: #000;
	--white: #fff;

	--grey50: #909090;
	--grey60: #727272;
	--grey70: #545454;
	--grey80: #363636;
	--grey90: #181818;

	--highlight: var(--yellow);
}

.red {
	background: var(--red);
}

.blue {
	background: var(--blue);
}

.yel {
	color: var(--yellow);
}

.black {
	background: var(--black);
	color: var(--white);
}

.white {
	background: var(--white);
	color: var(--black);
}


.yellow {
	background: var(--yellow);
	color: var(--black);
}

