// -- unit margin padding

.py0 { padding-top: 0; padding-bottom: 0; }
.py1 { padding-top: 1vw; padding-bottom: 1vw; }
.py2 { padding-top: 2vw; padding-bottom: 2vw; }

.px0 { padding-left: 0; padding-right: 0; }
.px1 { padding-left: 1vw; padding-right: 1vw; }
.px2 { padding-left: 2vw; padding-right: 2vw; }

.my1 { margin-top: 1vw; margin-bottom: 1vw; }
.my2 { margin-top: 2vw; margin-bottom: 2vw; }

.m2 { margin: 2vw }

.mt2 { margin-top: 2vw }
.mt4 { margin-top: 4vw }
.mt8 { margin-top: 8vw }
.mt12 { margin-top: 12vw }

.mb2 { margin-bottom: 2vw }

.max-10 { max-width: 10ch }
.max-20 { max-width: 20ch }
.max-45 { max-width: 45ch }

// -- app shortcuts

:root {
	--padding-y: 8vw;
	--padding-x: 6vw;
}

.px {
	padding: 0 var(--padding-x);
}

.nx {
	margin: 0 calc( -1 * var(--padding-x));
}

.pt {
	padding-top: var(--padding-y);
}

// -- golden (or other ratios) scale

:root {
		--sp-init: 1.7125rem;
		--sp-ratio: 1.61803398875;
		--sp1: var(--sp-init);
		--sp2: calc(var(--sp1) * var(--sp-ratio));
		--sp3: calc(var(--sp2) * var(--sp-ratio));
		--sp4: calc(var(--sp3) * var(--sp-ratio));
		--sp5: calc(var(--sp4) * var(--sp-ratio));
		--sp6: calc(var(--sp5) * var(--sp-ratio));
		--sp7: calc(var(--sp6) * var(--sp-ratio));
		--sp8: calc(var(--sp7) * var(--sp-ratio));
}

.h1 { height: var(--sp1) }
.h2 { height: var(--sp2) }
.h3 { height: var(--sp3) }
.h4 { height: var(--sp4) }
.h5 { height: var(--sp5) }
.h6 { height: var(--sp6) }
.h7 { height: var(--sp7) }
.h8 { height: var(--sp8) }

.w1 { width: var(--sp1) }
.w2 { width: var(--sp2) }
.w3 { width: var(--sp3) }
.w4 { width: var(--sp4) }
.w5 { width: var(--sp5) }
.w6 { width: var(--sp6) }
.w7 { width: var(--sp7) }
.w8 { width: var(--sp8) }

.s1 { flex-basis: var(--sp1) }
.s2 { flex-basis: var(--sp2) }
.s3 { flex-basis: var(--sp3) }
.s4 { flex-basis: var(--sp4) }
.s5 { flex-basis: var(--sp5) }
.s6 { flex-basis: var(--sp6) }
.s7 { flex-basis: var(--sp7) }
.s8 { flex-basis: var(--sp8) }

.pp2 { padding: var(--sp2) }
.ppx2 { padding-left: var(--sp2); padding-right: var(--sp2) }

.pm2 { margin: var(--sp2) }
.pmx2 { margin-left: var(--sp2); padding-right: var(--sp2) }

.w100 { width: 100% }
.h100 { height: 100% }
