.py0 { padding-top: 0; padding-bottom: 0; }
.py1 { padding-top: 1vw; padding-bottom: 1vw; }
.py2 { padding-top: 2vw; padding-bottom: 2vw; }

.px0 { padding-left: 0; padding-right: 0; }
.px1 { padding-left: 1vw; padding-right: 1vw; }
.px2 { padding-left: 2vw; padding-right: 2vw; }

.my1 { margin-top: 1vw; margin-bottom: 1vw; }
.my2 { margin-top: 2vw; margin-bottom: 2vw; }

.m2 { margin: 2vw }

.mt2 { margin-top: 2vw }
.mt4 { margin-top: 4vw }
.mt8 { margin-top: 8vw }
.mt12 { margin-top: 12vw }

.mb2 { margin-bottom: 2vw }

.max-10 { max-width: 10ch }
.max-20 { max-width: 20ch }
.max-45 { max-width: 45ch }

:root {
	--padding-y: 8vw;
	--padding-x: 6vw;
}

.px {
	padding: 0 var(--padding-x);
}

.nx {
	margin: 0 calc( -1 * var(--padding-x));
}

.pt {
	padding-top: var(--padding-y);
}
