
body {
	// font-family: 'Gotham SSm A', 'Gotham SSm B', sans-serif;
	font-family: 'Gotham A', 'Gotham B', sans-serif;
	color: #222222;
}


::placeholder {
	color: #aaa;
	text-transform: uppercase;
}

.uc {
	text-transform: uppercase;
}

.sc {
	font-variant: small-caps;
}

blockquote {
	margin: 0;
	font-size: 1vw;
	line-height: 2vw;
	text-align: left;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
	line-height: 1.5em;
	font-weight: 800;
}

h1 {
	letter-spacing: 0;
	font-size: 17vw;
	font-weight: 900;
	text-transform: uppercase;
}

h2 {
	font-size: 8vw;
	line-height: 8vw;
	text-transform: uppercase;
	font-weight: 900;
}

p {
	font-size: 1vw;
	line-height: 2;
}

a {
	text-transform: uppercase;
	font-weight: 800;

	&:hover {
		color: var(--yellow);
	}
}
