.title--full {
	//margin-top: -1.11vw;
	transform-origin: left top;
	transform: translate3d(0px, 0px, 0px) scale(1);
	border-right: none;
	transition: transform 0.8s cubic-bezier(0.16, 1.08, 0.38, 0.98) 0s;
}

.title--small {
	//margin-top: -1.39vw;
	transform-origin: left top;
	transform: translate3d(-3.82vw, -2.66vw, 0px) scale(0.112);
	border-right: none;
	transition: transform 0.8s cubic-bezier(0.16, 1.08, 0.38, 0.98) 0s;
}
