---
layout: layout.njk
permalink: /courses.html
class: courses
---

<section id="courses">
  <div class="container">

    <div class="row">
      <div class="col-12">
        <div class="box black full"></div>
        <h1>Courses</h1>

<div class="red">
	<div>{{ coucou.html | safe }}</div>
	<div>{{ coucou.elements[class] | safe }}</div>
</div>

      </div>
    </div>
  </div>
</section>
