---
layout: layout.njk
permalink: "demo/{{ pp.loc | slug }}/"

pagination:
  data: site.pages
  size: 1
  alias: pp

---

{% if pp.template %}
	{% include pp.template + ".njk" %}
{% endif %}

<section class="">
	{{ pp | dump }}
</section>

<section class="">
	{{ pp.content | dump }}
</section>


<section>
	{{ page | dump }}
</section>


