---
layout: "layout.njk"
permalink: "{{ pp.permalink | url }}/"

pagination:
  data: site.pages
  size: 1
  alias: pp

---

{% import "templates.njk" as template %}

<div class="blue">{{ template | c_dump }}</div>
<div class="red">{{ pp | c_dump }}</div>
