---
layout: layout.njk
permalink: "demo/{{ pp.permalink | url }}/"

pagination:
  data: site.pages
  size: 1
  alias: pp

---
<div>---</div>


{% from "templates.njk" import render_courses %}
{% from "templates.njk" import render_course_individual %}
{#	{% include pp.template + ".njk" %}#}

-|
{% switch pp.render %}

	{% case "--courses" %}
		{{ render_courses(pp) }}

	{% case "--course-individual" %}
		{{ render_course_individual(pp) }}

	{% default %}
		{{ pp | dump}}

{% endswitch %}
|-

<div>---</div>

<section>
	{{ page | dump }}
</section>


<style>pre{break-word: break-word;white-space: pre-wrap;}</style>
