---
layout: layout.njk
---
{% set variables = site.pages[site.index['prices']].data %}

<div>--- request ---</div>

<div x-data="{
	params: new URLSearchParams(location.search)
}">
	<div>course: <i x-text="params.get('course')"></i></div>
	<div>currency: <i x-text="params.get('currency')"></i></div>
	<div>option: <i x-text="params.get('option')"></i></div>
</div>

<div>--- variables ---</div>
<pre>{{ variables | dump }}</pre>
