---
layout: layout.njk
permalink: /
myClasses: [ home white ]
---

{% set courses = site.pages[site.index['courses']] %}

<section >

	<div id="hi" class="mt4  title--full">
		<h1 >The Graphic <br/>Design School</h1>
	</div>

	<p class="tagline uc">Online and at your own pace.<br>The first solely online design school in the world, since 2008.<br>
	Our students are our everything. Their work is our pride and joy!</p>

</section>

<section id="sw" class="yel nx">

  <div class="slide slide_students">
    <div class="s1"><h2 ><span>Student work</span><span>Student work</span></h2></div>
    <div class="s2"><h2 ><span>Student work</span><span>Student work</span></h2></div>
    <div class="s3"><h2 ><span>Student work</span><span>Student work</span></h2></div>
  </div>

  <div class="image">
    <div class="content">
    </div>
  </div>

	<div class="marquee">
		<div class="marquee__inner blue">
			{% for i in range(0, 25) -%}
				<span>Enter&nbsp;</span>
			{%- endfor %}
		</div>
	</div>

</section>

<div id="hi-trigger" />

<section id="courses" class="courses">

	<h2>Online Courses</h2>

	<div class="courses--cards">
		{% for course in courses.content %}
			<div class="card white">
				<h3 class="uc">{{ course.title }}</h3>
				<p class="specs">{{ course.specs }}</p>
				<p class="text">{{ course.tagline }}</p>
				{# <pre>{{ course | dump }}</pre>#}
				<a href="{{ course.permalink }}" class="uc">Discover More</a>
			</div>

		{% endfor %}
	</div>
</section>


<section id="testis">

	<h2>Some really nice things said about us by some really, really nice people</h2>

	<div class="testis--slider nx">
		<div class="testis--card">
			{% include "images/mock--home.njk" %}
		</div>
		<div class="testis--card yellow">
			<div class="quote uc">
				<p>“YOU CONTROL YOUR LEVEL OF STUDY, WHETHER YOU’RE A BEGINNER OR A PRACTISING DESIGNER. OUR ONLINE COURSES ARE FLEXIBLE WITH SCHEDULES TO SUIT YOU, AND PATHWAYS TO MATCH YOUR STUDY AND CAREER REQUIREMENTS.</p>
				<p>Ann Greenwood<br>freelancer</p>
				<a href="/student-work">See My work</a>
			</div>

		</div>
	</div>

	<pre>{{ site.pages[site.index['home']] | dump }}</pre>

</section>


<section class="blank">
	---
</section>
<canvas id="overlay" />


<link type="text/css" rel="stylesheet" href="/style/home.css" />

<script type="text/javascript" src="/js/home.js"></script>

{#<section id="quote">#}
{#  <blockquote>#}
{#    THE GRAPHIC DESIGN SCHOOL DELIVERS A PLACE TO BE CREATIVE, UNLEASH YOUR IDEAS AND GIVES YOU THE FREEDOM TO DO SOMETHING YOU LOVE, <strong>REALLY LOVE</strong>. ONLINE AND AT YOUR OWN PACE. THE FIRST ONLINE DESIGN SCHOOL IN THE WORLD, SINCE 2008.#}
{#  </blockquote>#}
{#</section>#}
