---
layout: layout.njk
permalink: index.html
---

<section class="">
  <div class="container">

    <div class="row">
      <div class="col-12">
        <div class="box red full"></div>
        <h1>The Graphic <br/>Design School</h1>
      </div>
    </div>
  </div>
</section>

<section class="red">
  <div class="slide slide_students">
    <div class="s1"><h2 >Student work</h2></div>
    <div class="s2"><h2 >Student work</h2></div>
    <div class="s3"><h2 >Student work</h2></div>
  </div>

  <div class="image">
    <div class="content">
      <div class="marquee">
        <span>Enter</span>
        <span>Enter</span>
        <span>Enter</span>
        <span>Enter</span>
        <span>Enter</span>
      </div>
    </div>
  </div>
</section>

<section>
  <blockquote>
    THE GRAPHIC DESIGN SCHOOL DELIVERS A PLACE TO BE CREATIVE, UNLEASH YOUR IDEAS AND GIVES YOU THE FREEDOM TO DO SOMETHING YOU LOVE, <strong>REALLY LOVE</strong>. ONLINE AND AT YOUR OWN PACE. THE FIRST ONLINE DESIGN SCHOOL IN THE WORLD, SINCE 2008.
  </blockquote>
</section>

<section class="black">
  <div class="slide slide_courses">
    <div class="s1 slide_1"><a href="#"><h2 >CERTIFICATE IV IN DESIGN</h2></a></div>
    <div class="s2 slide_2"><a href="#"><h2 >INTENSIVE FOUNDATION COURSE</h2></a></div>
    <div class="s3 slide_3"><a href="#"><h2 >DESIGN AT WORK COURSE</h2></a></div>
    <div class="s4 slide_4"><a href="#"><h2 >WEB DESIGN COURSE</h2></a></div>
  </div>
</section>


<section>
  <blockquote>
    TODAY, I HAD A BURGER AND FRIES.
  </blockquote>
</section>
