---
layout: "layout.njk"
permalink: "{{ pageConfig.permalink | url }}/"

pagination:
  data: site.pages
  size: 1
  alias: pageConfig

---

{% if pageConfig.layout %}
	{% set path = 'template/'+pageConfig.layout+'.njk' %}
	{% include path ignore missing %}
{% else %}
	<div class="red">{{ pageConfig | dump }}</div>
{% endif %}

