pre {
  color: firebrick;
}

.courses {
  perspective: 30vw;
}
.courses .menu .mobile {
  transition: all 0.25s;
  opacity: 1;
}
.courses .menu .mobile:hover {
  transform: translateX(0.25vw);
  opacity: 0.51;
}
.courses a {
  color: white;
}
.courses a:hover {
  opacity: 1;
}
