pre { color: firebrick }

.courses {

	perspective: 30vw;

	.menu .mobile {
		transition: all .25s;
		opacity: 1;


		&:hover {
			transform: translateX(.25vw);
			opacity: .51;
		}

	}

	a { color: white;}
	a:hover {
		opacity: 1;
	}
}
