pre { color: firebrick }

.courses {

	perspective: 30vw;

	.menu {

		transition: all .25s;
		opacity: 1;

		&:hover {

			.mobile {
				opacity: .51;
				transform: rotateX(-5deg);
			}
		}

	}

	a { color: white;}
	a:hover {
		opacity: 1;
	}
}
