
.home {

	font-weight: 800;

	h1 {
		font-size: 9vw;
		line-height: 1;
	}

	.tagline {
		font-size: 1.5vw;
	}

	a {
		color: #222222;

		&:hover {
			color: var(--highlight);
			background: transparentize(#833942,.917)
		}

	}

	.image {
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		width: 50vw;
		height: calc(1080 / 1620 * 50vw);
		margin: auto;

		background: url("../img/cheneeta/dr2.png") 50% 50% no-repeat;
		background-size: cover;

		display: flex;
		flex-direction: column;
		justify-content: center;

		.content {
			background: var(--highlight);
			color: white;

			text-transform: uppercase;
			font-weight: 700;
			font-size: 1.5vw;
			line-height: 2vw;
			text-align: center;
			display: block;

			span {
				display: inline-block;
			}

		}
	}
}

#hello {
	//position: absolute;
	//left:0; right:0;
	//height: 20vw;
}

#hello-trigger {
	position: absolute;
	top: 150vw
}
