
.home {

	h1 {
		font-weight: 300;
	}

	a {
		color: #222222;

		&:hover {
			color: var(--red);
			background: transparentize(#833942,.917)
		}
	}

	.image {
		position: absolute;
		top: 1px;
		left: 1px;
		bottom: 1px;
		right: 1px;
		width: 50vw;
		height: calc(1080 / 1620 * 50vw);
		margin: auto;

		background: url("../img/cheneeta/dr2.png") 50% 50% no-repeat;
		background-size: cover;

		display: flex;
		flex-direction: column;
		justify-content: center;

		.content {
			background: var(--red);
			color: white;

			text-transform: uppercase;
			font-weight: 700;
			font-size: 1.5vw;
			line-height: 2vw;
			text-align: center;
			display: block;

			span {
				display: inline-block;
			}

		}
	}
}
