:root {
  --hi-height: 20vw;
}

#hi {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  height: var(--hi-height);
  padding: var(--padding-y) var(--padding-x) 0;
}

#hi-spacer {
  transition: height 0.8s cubic-bezier(0.16, 1.08, 0.38, 0.98) 0s;
  height: calc( var(--hi-height) + var(--padding-y) / 2 );
}
#hi-spacer.going {
  height: var(--padding-y);
}

.title--full {
  transform-origin: left top;
  transform: translate3d(0, 0, 0) scale(1);
  transition: transform 0.8s cubic-bezier(0.16, 1.08, 0.38, 0.98) 0s;
}

.title--small {
  transform-origin: left top;
  transform: translate3d(1vw, 0, 0) scale(0.1);
  transition: transform 0.8s cubic-bezier(0.16, 1.08, 0.38, 0.98) 0s;
}

:root {
  --highlight: var(--blue);
}

.home h1 {
  font-size: 9vw;
  display: block;
  font-weight: 700;
  line-height: 1;
  margin-left: -0.5vw;
}
.home h2 {
  text-align: center;
  font-size: 3.25vw;
  margin: 4vw 0 2vw 0;
}
.home h1, .home h2 {
  color: var(--highlight);
}
.home .tagline {
  font-size: 1.75vw;
  line-height: 1.5;
  margin-bottom: 4vw;
}
.home .slide {
  overflow: hidden;
  white-space: nowrap;
}
.home .slide a {
  text-decoration: none;
}
.home .slide h2 {
  display: block;
  font-size: 15vw;
  font-weight: 400;
  text-transform: uppercase;
  line-height: 0.85em;
  margin: 0;
}
.home .image {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 45vw;
  height: calc(1080 / 1620 * 45vw);
  margin: auto;
  background: url("../img/cheneeta/dr2.png") 50% 50% no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.home .image .content {
  background: var(--highlight);
  color: white;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 1.5vw;
  line-height: 2vw;
  text-align: center;
  display: block;
}
.home .image .content span {
  display: inline-block;
}

#sw {
  position: relative;
}
#sw .marquee__wrap {
  position: absolute;
  top: 50%;
  width: 100%;
  transform: translateY(-50%);
}
#sw .marquee__wrap span {
  color: var(--white);
  font-size: 1.25vw;
  line-height: 1;
}

.th2 {
  height: 1.5vw;
}

.cards__container {
  display: flex;
  justify-content: space-between;
}

.card {
  flex-basis: 19vw;
  padding: 4vw 0 2vw 0;
  display: flex;
  flex-direction: column;
}
.card h3 {
  font-size: 2vw;
  line-height: 1;
  min-height: 3em;
}
.card p {
  font-weight: 400;
  color: #ccc;
  margin-top: 0.5vw;
}
.card p.specs {
  font-weight: 500;
  color: var(--yellow);
}
.card p.text {
  font-size: 1.5vw;
  line-height: 1.25;
  flex: 1;
}
.card a {
  align-self: center;
  justify-self: flex-end;
  display: block;
  font-size: 1vw;
  color: var(--yellow);
}
.card a:hover {
  color: var(--white);
}
.card .card__inner {
  padding: 0 1vw;
  flex: 1;
}

.testis--slider {
  display: flex;
  overflow-x: hidden;
}

.testis--card {
  flex: 0 0 50%;
  overflow: hidden;
}
.testis--card img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
}
.testis--card .quote {
  padding: 2vw 6vw;
  text-align: right;
}
.testis--card .quote a, .testis--card .quote p {
  font-size: 2vw !important;
  line-height: 1.25;
  color: var(--black);
  font-weight: 500;
}

.marquee__wrap {
  height: 2vw;
}

.marquee {
  color: var(--black);
}
.marquee span {
  white-space: nowrap;
}

.marquee__inner {
  line-height: 1.25;
}

#more {
  padding: 4vw 0;
}
#more h2 {
  color: var(--white);
  text-align: left;
  font-size: 6vw;
}
#more p {
  text-transform: uppercase;
  color: var(--yellow);
  font-size: 2vw;
  line-height: 1.5;
}
#more .links a {
  font-size: 2vw;
  line-height: 1.5;
  display: block;
}

.double {
  overflow: hidden;
  position: relative;
  height: 9vw;
}
.double h2 {
  position: absolute;
  white-space: nowrap;
  line-height: 9vw;
  margin: 0;
  font-size: 6vw;
}
.double h2.b {
  color: transparent !important;
  -webkit-text-stroke: 1.5px var(--blue);
}
.double h2.y {
  color: var(--yellow) !important;
}

#tutors {
  overflow: hidden;
  display: flex;
  justify-content: center;
  text-align: center;
}

.twrap {
  display: flex;
}

.tcard {
  padding: 5vw 3vw 0 3vw;
}

.img--wrap {
  width: 36vw;
  height: 33vw;
  overflow: hidden;
  display: flex;
  align-content: center;
}
.img--wrap img {
  width: 100%;
  height: auto;
}

.text--wrap {
  line-height: 5vw;
  text-transform: uppercase;
  font-size: 1.5vw;
  font-weight: 600;
}
