
.home {

	font-weight: 800;

	h1 {
		display: block;
		font-weight: 900;
		line-height: 1;
	}

	h2 {
		text-align: center;
		font-size: 3.5vw;
		margin: 4vw 0;
	}

	#hi .tagline {
		font-size: 1.75vw;
		line-height: 1.5;
		margin-bottom: 6vw;
	}

	a {
		color: #222222;

		&:hover {
			color: var(--highlight);
			background: transparentize(#833942,.917)
		}
	}

	.slide {
		overflow: hidden;
		white-space: nowrap;

		a {
			text-decoration: none;
		}

		h2 {
			display: block;
			font-size: 15vw;
			font-weight: 800;
			text-transform: uppercase;
			line-height: .85em;
			margin: 0;
		}
	}

	.image {
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		width: 45vw;
		height: calc(1080 / 1620 * 45vw);
		margin: auto;

		background: url("../img/cheneeta/dr2.png") 50% 50% no-repeat;
		background-size: cover;

		display: flex;
		flex-direction: column;
		justify-content: center;

		.content {
			background: var(--highlight);
			color: white;

			text-transform: uppercase;
			font-weight: 700;
			font-size: 1.5vw;
			line-height: 2vw;
			text-align: center;
			display: block;

			span {
				display: inline-block;
			}

		}
	}
}

#sw {
	position: relative;

	.marquee {
		background: white;
		position: absolute;
		top: 50%;
		width:100%;
		transform: translateY(-50%)
	}

}



.courses--cards {
	display: flex;
	justify-content: space-between;
}

.card {

	flex-basis: 19vw;
	padding: 2vw 1vw;

	display: flex;
	flex-direction: column;

	h3 {
		font-size: 2vw;
		line-height: 1;
		min-height: 3em;
	}

	p {
		font-weight: 300;
		color: #ccc;

		&.specs {
			color: var(--yellow)
		}

		&.text {
			font-size: 2vw;
			line-height: 1.25;
			flex: 1;
		}
	}

	a {
		align-self: center;
		justify-self: flex-end;
		display: block;
		font-size: 1.5vw;
		color: var(--yellow);

		&:hover {
			color: var(--white)
		}
	}

	pre {
		font-size: 2vw;
	}
}
