:root {
  --highlight: var(--blue);
}

.home {
  font-weight: 800;
}
.home h1 {
  font-size: 9vw;
  display: block;
  font-weight: 700;
  line-height: 1;
}
.home h2 {
  text-align: center;
  font-size: 3.5vw;
  margin: 4vw 0;
}
.home h1, .home h2 {
  color: var(--highlight);
}
.home .tagline {
  font-size: 1.75vw;
  line-height: 1.5;
  margin-bottom: 6vw;
}
.home a {
  color: #222222;
}
.home a:hover {
  color: var(--highlight);
  background: rgba(131, 57, 66, 0.083);
}
.home .slide {
  overflow: hidden;
  white-space: nowrap;
}
.home .slide a {
  text-decoration: none;
}
.home .slide h2 {
  display: block;
  font-size: 15vw;
  font-weight: 400;
  text-transform: uppercase;
  line-height: 0.85em;
  margin: 0;
}
.home .image {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 45vw;
  height: calc(1080 / 1620 * 45vw);
  margin: auto;
  background: url("../img/cheneeta/dr2.png") 50% 50% no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.home .image .content {
  background: var(--highlight);
  color: white;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 1.5vw;
  line-height: 2vw;
  text-align: center;
  display: block;
}
.home .image .content span {
  display: inline-block;
}

#sw {
  position: relative;
}
#sw .marquee {
  background: white;
  position: absolute;
  top: 50%;
  width: 100%;
  transform: translateY(-50%);
}

.courses--cards {
  display: flex;
  justify-content: space-between;
}

.card {
  flex-basis: 19vw;
  padding: 4vw 1vw;
  display: flex;
  flex-direction: column;
}
.card h3 {
  font-size: 2vw;
  line-height: 1;
  min-height: 3em;
}
.card p {
  font-weight: 300;
  color: #ccc;
}
.card p.specs {
  color: var(--yellow);
}
.card p.text {
  font-size: 2vw;
  line-height: 1.25;
  flex: 1;
}
.card a {
  align-self: center;
  justify-self: flex-end;
  display: block;
  font-size: 1vw;
  color: var(--yellow);
}
.card a:hover {
  color: var(--white);
}
.card pre {
  font-size: 2vw;
}
.card.white {
  border: 1px solid var(--blue);
}
.card.white h3, .card.white .specs {
  color: var(--blue);
}
.card.white .text {
  color: var(--black);
}
.card.white a {
  display: block;
  width: 100%;
  background: var(--yellow);
  color: var(--black);
  text-align: center;
}

.testis--slider {
  display: flex;
  overflow-x: hidden;
}

.testis--card {
  flex: 1;
}
.testis--card img {
  width: 100%;
  height: auto;
}
.testis--card .quote {
  padding: 2vw 6vw;
  text-align: right;
}
.testis--card .quote a, .testis--card .quote p {
  font-size: 2vw !important;
  line-height: 1.25;
}

.marquee {
  color: var(--black);
}
