@import "normalise";
@import "fonts";

body {
  font-family: 'Gotham SSm A', 'Gotham SSm B', sans-serif;
  padding: 1rem;
  color: #222222;
}

h1 {
  font-weight: 300;
  color: red;
}

a {
  color: #222222;

  &:hover {
    color: orange;
    background: transparentize(orange,.917)
  }
}

#grid {
  position: fixed;
  top: 0; left: 0; width: 100vw; height: 100vh;
  user-select: none;
}


header {
  display: flex;

  img {
    height: 2rem;
  }

  nav {
    display: flex;
    justify-content: flex-end;
    flex: 1;
  }

  a {
    padding: 0 .5rem;
    line-height: 2rem;
    text-decoration: none;
    text-transform: uppercase;
    font-size: .75rem;
    font-weight: 700;
  }
}
