.prices {

	span {
		display: block;
	}

	font-weight: 800;
	font-size: 1.5vw;

	h1 {
		font-size: 7vw;
		line-height: 1;
		max-width: 14ch
	}

	p {
		font-size: 2vw;
		line-height: 1.5;
	}
}

.on {
	color: var(--yellow);
}

.course-wrap {
	display: flex;
	height: 35vw;
	margin: 3vw 0;

	transition: all 1s cubic-bezier(.05, .69, .14, 1);

	.course-name {
		//outline: 1px red solid;
		width: 2vw;
		white-space: nowrap;

		strong {
			display: block;
			transform-origin: center;
			transform: rotateZ(-90deg) translateX(-28vw);
		}
	}
}

.plan-wrap {
	flex: 0 0 20vw;
	color: var(--white);
	text-decoration:none;

	margin: 0 2.5vw;
	padding: 3vw 2vw;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;

	background: var(--grey90);

	transition: all .3s var(--transition-dyn);

	&:hover {
		cursor: pointer;
		background: var(--yellow);
		color: var(--grey90);
	}
}


.value {
	font-size: 4vw;
}

.reveal-wrap a {
	text-decoration: none;
	color: inherit;

	&:hover {
		color: var(--yellow)
	}
}
