{% set courses = [ 'certiv', 'ifc', 'wdc', 'dw' ] %}
{% set currency = 'aud' %}
{% set _data =  pageConfig.data[currency] %}


<div class="prices">
	<h1>{{ pageConfig.title }}</h1>
	<p class="max-45">{{ pageConfig.description }}</p>

	{% for c in courses %}
		{% set course = _data.courses[c] %}

		<div class="course-wrap" x-data="{ isOn: false }" @mouseleave="isOn = false">

			<div class="course-name uc" :class="{ 'on': isOn }"><strong>{{ course.name | shorten }}</strong></div>

			{% for p, plan in course.plans %}
				{% if not plan.hidden %}
					<a class="plan-wrap uc" @mouseover="isOn = true" href="/enrol?course={{ course.courseId }}&option={{ plan.opt }}&currency={{ currency }}">
						<div class="center">
							<div>Payment Option {{ plan.opt }}:</div>
							<div class="name">{{ plan.name }}</div>
						</div>
						<div class="center">
							<div class="value">{{ _data.symbol }}{{ plan.price.value }}</div>
							<div class="info">{% if plan.price.value === plan.price.total %}One time{% else %}Monthly{% endif %}</div>
						</div>
						<div>Total: {{ _data.symbol }}{{ plan.price.total }}</div>
{#						<pre class="max-20">{{ plan | dump }}</pre>#}
					</a>
				{% endif %}
			{% endfor %}


		</div>
		<div class="reveal-wrap">
			<a class="uc" href="#">- More information</a>
			<pre>{{ plan | dump }}</pre>
		</div>
	{% endfor %}

{#	{% for curr, data in pageConfig.data %}#}
{#		<pre>{{ data |dump }}</pre>#}
{#	{% endfor %}#}

	<pre>{{ pageConfig.data[currency] | dump }}</pre>

</div>
<link rel="stylesheet" href="/style/prices.css" />


