
<div class="course">
	<h1>{{ pageConfig.title }}</h1>


	<h2 class="mt8 max-10">Course Outline</h2>
	<div class="outline">

		<div class="images-container">

		</div>
		<div class="modules-container">
		{% if pageConfig.outline %}
			{{ pageConfig.outline.html | safe }}
		{% endif %}
		{% for m in pageConfig.modules -%}
			<div class="module-nav">
				<a href="{{ pageConfig.permalink }}">
					<h3><span>Module {{ m.module }}</span><span>{{ m.title }}</span></h3>
					<p class="max-45">{{ m.description | safe }}</p>
				</a>

			</div>
		{% endfor %}
		</div>
	</div>
</div>

<div class="content">
	{{ pageConfig.content.html | safe }}
</div>

<link rel="stylesheet" href="/style/courses.css" />

--- SINGLE COURSE ---
<div class="blue">{{ pageConfig | dump }}</div>
