<!doctype html>
<html class="no-js" lang="">

<head>
  <meta charset="utf-8">
  <title>{{ title }}</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="manifest" href="/site.webmanifest">
  <link rel="apple-touch-icon" href="/images/icons/icon.png">

  <meta name="theme-color" content="#afafaf">

  <link rel="stylesheet" href="/style/fonts.css">
  <link rel="stylesheet" href="/style/index.css">
	<link rel="stylesheet" href="/style/admin.css">

</head>
<body>

	<div id="app" class="{{ class }} flex">
		{{ content | safe }}
	</div>

	<canvas id="overlay"/>

	<script src="js/plugins.js"></script>
	<script src="js/admin.js"></script>

	<script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js" defer></script>

	<script>
		window.addEventListener('orientationchange', () => window.location.reload());
	</script>
</body>
</html>
