<!doctype html>
<html class="no-js" lang="">

<head>
  <meta charset="utf-8">
  <title>{{ title }}</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <meta property="og:title" content="">
  <meta property="og:type" content="">
  <meta property="og:url" content="">
  <meta property="og:image" content="">

  <link rel="manifest" href="/site.webmanifest">
  <link rel="apple-touch-icon" href="/img/icons/icon.png">

  <meta name="theme-color" content="#afafaf">
{#	{% postcss %}#}
{#		<link rel="stylesheet" href="/style/tailwind.css">#}
{#	{% endpostcss %}#}
  <link rel="stylesheet" type="text/css" href="/style/fonts.css" />
  <link rel="stylesheet" href="/style/index.css">

	<!-- Gotham Screen Smart -->
  <!-- <link rel="stylesheet" type="text/css" href="https://cloud.typography.com/7492252/6694412/css/fonts.css" /> -->

	<!-- Gotham -->
	<!-- <link rel="stylesheet" type="text/css" href="https://cloud.typography.com/7492252/6330612/css/fonts.css" /> -->

</head>
<body>

<div id="app" class="black">

  <header class="white">
    <a href="/"><img src="/img/logo.svg" alt="TGDS Logo"/></a>
    <nav>
      <a href="/courses">courses</a>
      <a href="#">study</a>
      <a href="/student-work">student-work</a>
      <a href="#">dex</a>
      <a href="/prices">prices</a>
      <a href="#">contact us</a>
    </nav>
  </header>

  <main class="{{ class | safe }} black px">
    {{ content | safe }}
  </main>

	<footer id="foot" class="black px">
		{% include "components/footer/index.njk" %}
	</footer>

</div>

<script>
  window.addEventListener('orientationchange', () => window.location.reload());
</script>

<script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js" defer></script>

{#{% include "_analytics.njk" %}#}

</body>

</html>
