{# ### ### ### ### ### ### ### ### ### ### ### ### ### ### ### ### ### ### ### ### ### ### ### ### ### ### ### ### #}

{% macro render_course_individual (page) %}
	--- invividual ---
	<pre>{{ page | dump }}</pre>

{% endmacro %}

{# ### ### ### ### ### ### ### ### ### ### ### ### ### ### ### ### ### ### ### ### ### ### ### ### ### ### ### ### #}

{% macro render_courses (page) %}

	<div class="p2 courses">
		<h1 class="px2">{{ page.title }}</h1>
		<div class="column-alt px1">
			{% for course in page.content %}

				<section class="menu px0 px1">
					<div class="content">
						<div class="mobile">
							<h2 class="title">{% if course.titleShort %}{{ course.titleShort }}{% else %}{{ course.title }}{% endif %}</h2>
							<p class="tagline">{{ course.tagline }}</p>
						</div>
						<a href={{ course.permalink }}>Discover More</a>
					</div>
				</section>

				{# <pre>{{ course | c_dump }}</pre> #}

			{% endfor %}
		</div>
	</div>

	<link rel="stylesheet" href="/style/courses.css" />
{% endmacro %}

{# ### ### ### ### ### ### ### ### ### ### ### ### ### ### ### ### ### ### ### ### ### ### ### ### ### ### ### ### #}

