{% macro render_course_individual (page) %}
	--- invividual ---
	<pre>{{ page | dump }}</pre>

{% endmacro %}

{% macro render_courses (page) %}

	<h1>{{ page.title }}</h1>

	{% for course in page.content %}
		<section>
			<h2>{{ course.title }}</h2>
			<p>{{ course.tagline }}</p>
		</section>
	{% endfor %}

{% endmacro %}
