<div class="page-title animated nx">
	<h1>
		<span class="a1">{% for i in [0,1,2] %}{{ pageConfig.title | safe }} {% endfor %}</span>
		<span class="a2">{% for i in [0,1,2] %}{{ pageConfig.title | safe }} {% endfor %}</span>
		<span class="a3">{% for i in [0,1,2] %}{{ pageConfig.title | safe }} {% endfor %}</span>
	</h1>
	<pre>{{ pageConfig.menu | dump }}</pre>
</div>
