<header id="header">
	<a href="/"><img src="/img/logo.svg" alt="TGDS Logo"/></a>
	<nav>
		<a href="/courses">courses</a>
		<a href="/student-work">student-work</a>
		<a href="#">dex</a>
		<a href="/prices">prices</a>
		<a href="#">contact us</a>
	</nav>
</header>
