
body {
	overflow-x: hidden;
}

.flex-col {
	display: flex;
	flex-direction: column;
}

.box {
	z-index: -1;

	&.full {
		position: fixed; top: 0; left: 0; width: 100%;
		height: 100%;
	}
}

main {

	section {
		position: relative;

		blockquote {

			text-align: center;
			font-size: 3.2vw;
			line-height: 4.8vw;
			font-weight: 700;

			margin: 6vw 12vw;

			strong {
				color: var(--red);
			}
		}

	}
}
