
footer {
	color: white;
	background: black;

	padding: 1rem;

	.tagline {

		font-size: 8vw;
		font-weight: 900;
		margin-top: 6vw;
	}

	a {
		color: lightslategrey;
		line-height: 2rem;
		text-decoration: none;
		text-transform: capitalize;
	}

	h4 {
		font-weight: 300;
		margin: 1rem 0;
	}

	.form {

		margin-top: 4vw;

		h3 {
			font-size: 3vw;
			line-height: 1em;
			font-weight: 900;
		}

		input {
			flex: 1;
			border: none;
			border-bottom: 1px solid var(--yellow);
			//margin-right: 1rem;
			font-size: 1vw;
			padding: .5vw 0;
			color: white!important;
			background: transparent;
			font-weight: 900;
		}

		.button {
			display: flex;
			align-items: center;
			padding: 0 .5rem;
			font-weight: 700;
			color: white;

			&:hover {
				color: black;
				background: var(--yellow);
			}
			border-bottom: 1px solid var(--yellow);
		}

		form {
			margin-top: 2vw;
			display: flex;
		}

		.note {
			color: #cfcfcf;
			font-variant: small-caps;
			margin-top: .5rem;
			font-size: 1.15vw;
			// --
		}

	}

	.sitemap {
		font-size: 1.5vw;
		font-weight: 300;
		// need to clamp here

		h3 {
			margin-top: 2em;
		}

		a {
			font-weight: 300;

			&:hover {
				color: var(--yellow);
			}

		}
	}

	.address {
		font-style: normal;
		line-height: 2.5vw;
	}
}
