footer {

	--highlight: var(--black);
	--background: var(--yellow);

	color: var(--black);
	background: var(--yellow);

	.statement {

		font-size: 8vw!important;
		font-weight: 700!important;
		margin-top: 6vw;

		color: transparent;
		-webkit-text-stroke: 2px var(--highlight);
	}

	a {
		line-height: 2rem;
		text-decoration: none;
		text-transform: capitalize;
	}

	h4 {
		font-weight: 400;
		margin: 1vw 0;
	}

	h3 {
		color: var(--highlight);
		margin: 1vw 0;
	}

	::placeholder {
		color: var(--grey70);
	}

	.form {

		margin-top: 4vw;

		> .col-6 {
			padding-right: 3vw;
		}


		h3 {
			font-size: 2.75vw;
			line-height: 1em;
			font-weight: 700;
		}

		input {
			flex: 1;
			border: none;
			border-bottom: 1px solid var(--highlight);

			font-size: 1.5vw;
			padding: .5vw 0;
			color: var(--blue);
			background: transparent;
			font-weight: 700;
		}

		.button {
			display: flex;
			align-items: center;
			padding: 0 .5rem;
			font-weight: 700;
			border-bottom: 1px solid var(--highlight);

			color: var(--black);
			&:hover {
				background: var(--highlight);
			}
		}

		form {
			margin-top: 2vw;
			display: flex;
		}

		.note {
			text-transform: uppercase;
			margin-top: .5rem;
			font-size: 1vw;

			a {
				text-transform: uppercase;
				line-height: inherit;
				font-weight: 400;
				text-decoration: underline;

				color: var(--black);

				:hover {
					color: var(--white)
				}
			}
		}
	}

	.sitemap, .contact {

		// need to clamp here

			h3 {
			margin-top: 2em;
		}

		h4 {
			margin-bottom: 0;
		}

		a {
			line-height: 1.25;
			margin-bottom: .25em;
			font-weight: 400;
		}
	}

	.contact {
		font-size: 1.5vw;
		font-weight: 500;

		h3, h4, a {
			color: var(--black);
		}

	}

	.sitemap {

		padding-top: 2vw;
		background: var(--white);

		font-size: 1vw;
		font-weight: 500;

		h3, h4, a {
			color: var(--blue);
		}

		h3 {
			margin: 2vw 0 1vw 0;
		}

		h4 {
			font-weight: 500;
			margin: 0 0 1vw 0;
		}

		a {
			font-weight: 400;
		}
	}

	address {
		font-style: normal;
		line-height: 1.75vw;
		font-weight: 300
	}

	.login {
		padding: 4vw 0;
		font-size: 5vw;
		font-weight: 700!important;
		color: var(--black);

		span{
			display: inline-block;
			border-bottom: .25vw solid var(--blue);
			line-height: 1 ;
		}

		&:hover {
			color: var(--blue)
		}
	}
}

