:root {
	--hi-height: 20vw;
}

#hi {
	position: fixed; top: 0; right: 0; left: 0; height: var(--hi-height);
	padding: var(--padding-y) var(--padding-x) 0;
}

#hi-spacer {
	transition: height .8s cubic-bezier(0.16, 1.08, 0.38, 0.98) 0s;
	height: calc( var(--hi-height) + var(--padding-y) / 2 );

	&.going {
		height: var(--padding-y);
	}
}

.title--full {
	transform-origin: left top;
	transform: translate3d(0, 0, 0) scale(1);
	transition: transform 0.8s cubic-bezier(0.16, 1.08, 0.38, 0.98) 0s;
}

.title--small {
	transform-origin: left top;
	transform: translate3d(1vw, 0, 0) scale(0.1);
	transition: transform 0.8s cubic-bezier(0.16, 1.08, 0.38, 0.98) 0s;
}
