
footer {
	color: white;
	background: black;

	padding: 1rem;

	.tagline {

		font-size: 6vw;
		font-weight: bolder;
		margin-top: 6vw;
	}

	a {
		color: lightslategrey;
		line-height: 2rem;
		text-decoration: none;
		text-transform: capitalize;
	}

	h4 {
		font-weight: 300;
		margin: 1rem 0;
	}

	.form {

		input {
			flex: 1;
			border: none;
			border-bottom: 1px solid $yel;
			margin-right: 1rem;
			font-size: 1.5vw;
			padding: .5vw 0;
			color: white!important;
			background: transparent;
		}

		.button {
			padding: 0 .5rem;
			font-weight: 700;
			color: white;

			&:hover {
				color: black;
				background: $yel;
			}
		}

		form {
			display: flex;
		}

		h3 {
			font-size: 2.25vw;
			line-height: 1em;
		}

		.note {
			color: #cfcfcf;
			font-variant: small-caps;
			margin-top: .5rem;
			font-size: .72em;
		}

	}

	.sitemap {

	}

	address {
		font-style: normal;
		line-height: 2rem;
	}
}
