

.container-grid {

	display: grid;
	grid-template-columns: repeat(12, 1fr);
	grid-template-rows: repeat(12, auto);
	grid-gap: 0 1rem;

	.bl {
		background: rgba(0,0,0,.1);

		img {
			object-fit: cover;
		}

		&.full {
			grid-column: 1 / -1;
		}

		&.w--9 {
			grid-column: span 9;
		}

		&.w--3 {
			grid-column: span 3;
		}

		&.w--4 {
			grid-column: span 4;
		}

		&.w--5 {
			grid-column: span 5;
		}

		&.w--6 {
			grid-column: span 6;
		}

		&.w--7 {
			grid-column: span 7;
		}
	}
}

