---
layout: admin.layout.njk
permalink: admin.html
class: admin
---
<section id="hello">
	<div class="container">

		<div class="row">
			<div class="col-12">
				<div class="box red full"></div>
				<h1>The Graphic <br/>Design School</h1>
			</div>
		</div>
	</div>
</section>
